In [1]:
# import mysql.connector
# import pandas as pd

# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="Mahendra@123",
#     database="final"
# )

# query = "select * from ecommerce"

# df = pd.read_sql(query, conn)

# print(df)

# conn.close()

In [2]:
import pymysql
import pandas as pd

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='Mahendra@123',
    database='final'
)

try:
    with connection.cursor() as cursor:
        sql = "select * from ecommerce"
        cursor.execute(sql)
        result = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(result, columns=columns)
        print(df)
finally:
    connection.close()#

      Order_Id           Order_Date  Customer_Id    Customer_Name  \
0            1  2023-01-01 00:00:00         4554    Matthew Petty
1            2  2023-01-01 01:00:00         3125      Nancy Hardy
2            3  2023-01-01 02:00:00         9647   Jonathan Green
3            4  2023-01-01 03:00:00         6641  Alexander Brown
4            5  2023-01-01 04:00:00         1283  Clinton Mcgrath
...        ...                  ...          ...              ...
6995      6996  2023-10-19 11:00:00         1619   Michael Turner
6996      6997  2023-10-19 12:00:00         7013       Corey Hahn
6997      6998  2023-10-19 13:00:00         8302   Stephanie Vang
6998      6999  2023-10-19 14:00:00         7428        Adam Cole
6999      7000  2023-10-19 15:00:00         7565    John Garrison

                           Email       Phone            Join_Date  \
0     bbishop@moore-richards.com  9845992272  2022-01-01 00:00:00
1        jacksonamanda@gmail.com  9845992272  2022-01-02 00:00:00
2      joshuaedwards@mahoney.com  9845992272  2022-01-03 00:00:00
3               john29@gmail.com  9845992272  2022-01-04 00:00:00
4       moorebrenda@williams.com  9845992272  2022-01-05 00:00:00
...                          ...         ...                  ...
6995          james37@walker.com  9845992272  2041-02-25 00:00:00
6996        vmiranda@hotmail.com  9845992272  2041-02-26 00:00:00
6997  daviselizabeth@hotmail.com  9845992272  2041-02-27 00:00:00
6998       alexander60@yahoo.com  9845992272  2041-02-28 00:00:00
6999       bethcoleman@gmail.com  9845992272  2041-03-01 00:00:00

            State  Gender  Age  ...  Quantity Total_Amount Stock_Quantity  \
0       Karnataka    Male   33  ...         2        35509            421
1         Gujarat    Male   23  ...         1        46075            226
2           Delhi  Female   26  ...         3        79504            135
3       Karnataka  Female   29  ...         3       145526            104
4       Karnataka    Male   48  ...         1        13115            280
...           ...     ...  ...  ...       ...          ...            ...
6995   Tamil Nadu   Other   21  ...         3       144293            423
6996  Maharashtra   Other   63  ...         2        -2297            370
6997      Gujarat   Other   26  ...         3        56299            384
6998    Karnataka  Female   59  ...         2        15267            289
6999        Delhi   Other   43  ...         1        43360             50

     Payment_Type  Order_Status  Shipping_Cost        Delivery_Date  \
0          Wallet     Completed            217  2023-01-02 00:00:00
1             UPI     Cancelled            254  2023-01-02 01:00:00
2          Wallet     Completed            395  2023-01-02 02:00:00
3             UPI     Cancelled            114  2023-01-02 03:00:00
4             UPI      Refunded            170  2023-01-02 04:00:00
...           ...           ...            ...                  ...
6995          UPI     Completed            127  2023-10-20 11:00:00
6996       Wallet     Completed            153  2023-10-20 12:00:00
6997          UPI     Completed             83  2023-10-20 13:00:00
6998          UPI     Completed            357  2023-10-20 14:00:00
6999  Credit Card     Cancelled            176  2023-10-20 15:00:00

      Refund_Amount  Customer_Segment Market_Basket_Id
0                 0         Returning             7748
1                 0           Premium             6424
2                 0               New             6869
3                 0           Premium             6885
4             10665           Premium             9770
...             ...               ...              ...
6995              0         Returning             6660
6996              0         Returning             7110
6997              0         Returning             6615
6998              0               New             5477
6999              0           Premium             8582

[7000 rows x 26 columns]

In [3]:
df = pd.DataFrame(result, columns=columns)

In [4]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Quantity,Total_Amount,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,2,35509,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,1,46075,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,3,79504,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,3,145526,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,1,13115,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,3,144293,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,2,-2297,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,3,56299,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,2,15267,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,1,43360,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582

In [ ]:
# - Pandas: 
# Load and clean the dataset (handle duplicates, missing values, etc.).
# Analyze seasonal sales trends (monthly/quarterly).
# Group sales by customer, product, and category.
# Detect order cancellations or refunds (if applicable).
# Calculate average revenue per user (ARPU) and customer lifetime value (CLTV).
# Identify most common product combinations (market basket analysis).
# Analyze sales trends based on geographic data (if available).

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_Id          7000 non-null   int64
 1   Order_Date        7000 non-null   object
 2   Customer_Id       7000 non-null   int64
 3   Customer_Name     7000 non-null   object
 4   Email             7000 non-null   object
 5   Phone             7000 non-null   int64
 6   Join_Date         7000 non-null   object
 7   State             7000 non-null   object
 8   Gender            7000 non-null   object
 9   Age               7000 non-null   int64
 10  Product_Id        7000 non-null   int64
 11  Product_Name      7000 non-null   object
 12  Category          7000 non-null   object
 13  Brand             7000 non-null   object
 14  Price             7000 non-null   int64
 15  Discount          7000 non-null   int64
 16  Quantity          7000 non-null   int64
 17  Total_Amount      7000 non-null   int64
 18  Stock_Quantity    7000 non-null   int64
 19  Payment_Type      7000 non-null   object
 20  Order_Status      7000 non-null   object
 21  Shipping_Cost     7000 non-null   int64
 22  Delivery_Date     7000 non-null   object
 23  Refund_Amount     7000 non-null   int64
 24  Customer_Segment  7000 non-null   object
 25  Market_Basket_Id  7000 non-null   int64
dtypes: int64(13), object(13)
memory usage: 1.4+ MB

In [6]:
df.shape

(7000, 26)

In [7]:
df.describe()

,Order_Id,Customer_Id,Phone,Age,Product_Id,Price,Discount,Quantity,Total_Amount,Stock_Quantity,Shipping_Cost,Refund_Amount,Market_Basket_Id
count,7000.000000,7000.000000,7.000000e+03,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,5492.245286,9.845992e+09,40.899286,149.269857,25582.096714,2507.474429,2.480857,61061.985143,256.490714,274.936714,11556.909429,7497.326143
std,2020.870275,2603.682778,0.000000e+00,13.679845,29.035344,14410.438117,1441.495812,1.124957,48510.677348,141.178842,130.605815,25820.733393,1439.064394
min,1.000000,1000.000000,9.845992e+09,18.000000,100.000000,518.000000,1.000000,1.000000,-4454.000000,10.000000,50.000000,-2518.000000,5000.000000
25%,1750.750000,3219.500000,9.845992e+09,29.000000,124.000000,12938.500000,1271.000000,1.000000,22389.250000,134.000000,162.000000,0.000000,6258.000000
50%,3500.500000,5475.500000,9.845992e+09,41.000000,149.000000,25893.500000,2515.000000,2.000000,46407.500000,258.000000,274.000000,0.000000,7502.000000
75%,5250.250000,7767.500000,9.845992e+09,53.000000,175.000000,38045.250000,3750.250000,3.000000,90894.750000,376.000000,389.000000,9429.250000,8736.250000
max,7000.000000,9997.000000,9.845992e+09,64.000000,199.000000,49998.000000,4999.000000,4.000000,198430.000000,499.000000,500.000000,190804.000000,9999.000000

In [8]:
df.isnull().sum()

Order_Id            0
Order_Date          0
Customer_Id         0
Customer_Name       0
Email               0
Phone               0
Join_Date           0
State               0
Gender              0
Age                 0
Product_Id          0
Product_Name        0
Category            0
Brand               0
Price               0
Discount            0
Quantity            0
Total_Amount        0
Stock_Quantity      0
Payment_Type        0
Order_Status        0
Shipping_Cost       0
Delivery_Date       0
Refund_Amount       0
Customer_Segment    0
Market_Basket_Id    0
dtype: int64

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6995    False
6996    False
6997    False
6998    False
6999    False
Length: 7000, dtype: bool

In [10]:
df = df.drop_duplicates()

In [11]:
df = df.dropna()

In [12]:
df = df.fillna(0)

In [13]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Quantity,Total_Amount,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,2,35509,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,1,46075,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,3,79504,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,3,145526,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,1,13115,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,3,144293,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,2,-2297,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,3,56299,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,2,15267,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,1,43360,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582

# Analyze seasonal sales trends (monthly/quarterly).

In [16]:
# Convert date column to datetime
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Quantity,Total_Amount,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,2,35509,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,1,46075,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,3,79504,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,3,145526,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,1,13115,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,3,144293,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,2,-2297,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,3,56299,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,2,15267,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,1,43360,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582

In [17]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Quantity,Total_Amount,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,2,35509,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,1,46075,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,3,79504,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,3,145526,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,1,13115,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,3,144293,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,2,-2297,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,3,56299,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,2,15267,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,1,43360,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582

In [18]:
# Extract Month and Quarter
df['Month'] = df['Order_Date'].dt.month
df['Quarter'] = df['Order_Date'].dt.to_period('Q')

In [19]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

In [24]:
# Monthly sales
Monthly_sales = df.groupby('Month')['Total_Amount'].sum()
Monthly_sales

Month
1     46154252
2     40032707
3     43918435
4     43926757
5     46407919
6     45584056
7     44769448
8     44738798
9     44866847
10    27034677
Name: Total_Amount, dtype: int64

In [25]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

In [30]:
# Quarterly sales
Quarterly_sales = df.groupby('Quarter')['Total_Amount'].sum()
Quarterly_sales

Quarter
2023Q1    130105394
2023Q2    135918732
2023Q3    134375093
2023Q4     27034677
Freq: Q-DEC, Name: Total_Amount, dtype: int64

In [31]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

# Group Sales by Customer, Product, and Category

In [35]:
Group_sales = df.groupby(['Customer_Name', 'Product_Name', 'Category'])['Total_Amount'].sum().reset_index()
Group_sales

          Customer_Name Product_Name     Category  Total_Amount
0        Aaron Anderson   Smartwatch  Electronics         42899
1          Aaron Austin   Headphones  Electronics         82357
2         Aaron Buckley   Headphones  Accessories         70250
3          Aaron Burton       Camera  Electronics         73197
4           Aaron Clark       Mobile  Accessories         -1467
...                 ...          ...          ...           ...
6956      Zachary Stein       Laptop  Electronics         11029
6957   Zachary Townsend   Headphones  Electronics         44776
6958     Zachary Turner       Laptop  Accessories        147001
6959  Zachary Wilkinson   Headphones  Electronics         86134
6960       Zoe Harrison   Smartwatch  Accessories         24533

[6961 rows x 4 columns]

In [37]:
Sales_customer = df.groupby('Customer_Name')['Total_Amount'].sum()
print(Sales_customer)

Customer_Name
Aaron Anderson        42899
Aaron Austin          82357
Aaron Buckley         70250
Aaron Burton          73197
Aaron Clark           -1467
                      ...
Zachary Stein         11029
Zachary Townsend      44776
Zachary Turner       147001
Zachary Wilkinson     86134
Zoe Harrison          24533
Name: Total_Amount, Length: 6673, dtype: int64

In [52]:
# Sales by Product
Sales_product = df.groupby('Product_Name')['Total_Amount'].sum()
print(Sales_product)

Product_Name
Camera        86478753
Headphones    91284793
Laptop        83056067
Mobile        84284351
Smartwatch    82329932
Name: Total_Amount, dtype: int64

In [54]:
# Sales by Category
Sales_category = df.groupby('Category')['Total_Amount'].sum()
print(Sales_category)

Category
Accessories    210279336
Electronics    217154560
Name: Total_Amount, dtype: int64

# Detect order cancellations or refunds (if applicable).

In [67]:
Cancellations=df[df['Order_Status'] == 'Cancelled']
Cancellations

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
5,6,2023-01-01 05:00:00,2160,Patricia Ray,vargaselizabeth@gmail.com,9845992272,2022-01-06 00:00:00,Tamil Nadu,Female,24,...,213,UPI,Cancelled,98,2023-01-02 05:00:00,0,New,7540,1,2023Q1
7,8,2023-01-01 07:00:00,2606,David Meyer,bswanson@hotmail.com,9845992272,2022-01-08 00:00:00,Gujarat,Female,54,...,243,UPI,Cancelled,355,2023-01-02 07:00:00,0,Returning,7940,1,2023Q1
9,10,2023-01-01 09:00:00,9386,Jose Hunter,xhunter@christensen-craig.com,9845992272,2022-01-10 00:00:00,Maharashtra,Other,28,...,231,UPI,Cancelled,388,2023-01-02 09:00:00,0,Returning,8037,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6981,6982,2023-10-18 21:00:00,6722,Jennifer Jones,charlessloan@wong.biz,9845992272,2041-02-11 00:00:00,Delhi,Male,49,...,75,Credit Card,Cancelled,58,2023-10-19 21:00:00,0,Returning,6866,10,2023Q4
6985,6986,2023-10-19 01:00:00,2007,Jonathan Hayes,timothytaylor@saunders.info,9845992272,2041-02-15 00:00:00,Karnataka,Male,46,...,492,Credit Card,Cancelled,74,2023-10-20 01:00:00,0,New,6582,10,2023Q4
6988,6989,2023-10-19 04:00:00,9211,Kathleen Daniels,anguyen@flores-hughes.com,9845992272,2041-02-18 00:00:00,Delhi,Other,48,...,475,Wallet,Cancelled,347,2023-10-20 04:00:00,0,New,7682,10,2023Q4
6994,6995,2023-10-19 10:00:00,7495,Hayley Luna,catherinelopez@hotmail.com,9845992272,2041-02-24 00:00:00,Karnataka,Other,50,...,356,Wallet,Cancelled,245,2023-10-20 10:00:00,0,Premium,8899,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

In [38]:
Refunds = df[df['Order_Status'] == 'Refunded']
Refunds

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
11,12,2023-01-01 11:00:00,8905,John Price,walter56@yahoo.com,9845992272,2022-01-12 00:00:00,Gujarat,Other,35,...,290,Credit Card,Refunded,467,2023-01-02 11:00:00,37556,Premium,7582,1,2023Q1
15,16,2023-01-01 15:00:00,3931,William Andrews,brandiwilliams@henry.com,9845992272,2022-01-16 00:00:00,Delhi,Male,29,...,150,Wallet,Refunded,293,2023-01-02 15:00:00,34222,New,9908,1,2023Q1
16,17,2023-01-01 16:00:00,5066,Matthew Davis,tashabryant@coleman.info,9845992272,2022-01-17 00:00:00,Karnataka,Female,33,...,189,UPI,Refunded,214,2023-01-02 16:00:00,15266,Returning,5168,1,2023Q1
19,20,2023-01-01 19:00:00,1017,Stephanie Zuniga,whiterachel@hotmail.com,9845992272,2022-01-20 00:00:00,Maharashtra,Male,53,...,434,Credit Card,Refunded,125,2023-01-02 19:00:00,5119,Premium,5052,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6986,6987,2023-10-19 02:00:00,6551,Carlos Moore,samantha13@ellis-hopkins.com,9845992272,2041-02-16 00:00:00,Maharashtra,Other,34,...,409,UPI,Refunded,333,2023-10-20 02:00:00,7134,Returning,8490,10,2023Q4
6987,6988,2023-10-19 03:00:00,9085,Mark Horton,samantharodriguez@yahoo.com,9845992272,2041-02-17 00:00:00,Tamil Nadu,Male,59,...,19,UPI,Refunded,288,2023-10-20 03:00:00,11895,New,8081,10,2023Q4
6989,6990,2023-10-19 05:00:00,8956,Michelle Gibson,kruiz@huff-evans.info,9845992272,2041-02-19 00:00:00,Maharashtra,Other,62,...,223,UPI,Refunded,330,2023-10-20 05:00:00,50976,Premium,6591,10,2023Q4
6990,6991,2023-10-19 06:00:00,3459,Adam Zamora,amandacameron@yahoo.com,9845992272,2041-02-20 00:00:00,Maharashtra,Female,30,...,47,Credit Card,Refunded,182,2023-10-20 06:00:00,89014,Premium,5036,10,2023Q4
6993,6994,2023-10-19 09:00:00,9930,Daniel Lewis,barrettjustin@wilson-jackson.biz,9845992272,2041-02-23 00:00:00,Delhi,Male,20,...,126,UPI,Refunded,351,2023-10-20 09:00:00,1856,Premium,9739,10,2023Q4

# Calculate average revenue per user (ARPU) and customer lifetime value (CLTV).

In [70]:
# ARPU (Average Revenue Per User):
arpu = df.groupby('Customer_Id')['Total_Amount'].sum().mean()
arpu

np.float64(88039.93738414007)

In [73]:
# CLTV (Customer Lifetime Value):
cltv = df.groupby('Customer_Id')['Total_Amount'].sum()
cltv

Customer_Id
1000    200569
1002    147456
1004     52533
1005    132734
1006    153835
         ...
9988    192211
9990    373707
9993     88463
9995    186903
9997    132227
Name: Total_Amount, Length: 4855, dtype: int64

In [39]:
# Average Customer Lifetime Value
cltv = df.groupby('Customer_Id')['Total_Amount'].sum().mean()
print("CLTV:", cltv)

CLTV: 88039.93738414007

# Identify most common product combinations (market basket analysis).

In [41]:
# Most common
Common = df.groupby('Order_Id')['Product_Name'].apply(list)
Common

Order_Id
1           [Mobile]
2           [Mobile]
3       [Headphones]
4           [Camera]
5       [Headphones]
            ...
6996        [Camera]
6997        [Mobile]
6998        [Camera]
6999    [Headphones]
7000        [Camera]
Name: Product_Name, Length: 7000, dtype: object

In [52]:
import pandas as pd
from itertools import combinations
from collections import Counter

# Step 1: Group products by Order
basket = df.groupby('Order_Id')['Product_Name'].apply(list)

# Step 2: Count product combinations
combination_counts = Counter()

for products in basket:
    for combo in combinations(products, 2):   # 2-item combos
        combination_counts[combo] += 1

# Step 3: Print Top 10 Most Common Combinations
print(combination_counts.most_common(10))

[]

# Analyze sales trends based on geographic data (if available).

In [61]:
# If I have City or Region(State) column

geographic_datd = df.groupby('State')['Total_Amount'].sum().reset_index()
geographic_datd

         State  Total_Amount
0        Delhi      84056802
1      Gujarat      92089796
2    Karnataka      84270845
3  Maharashtra      83318247
4   Tamil Nadu      83698206

In [62]:
df.head(20)

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
5,6,2023-01-01 05:00:00,2160,Patricia Ray,vargaselizabeth@gmail.com,9845992272,2022-01-06 00:00:00,Tamil Nadu,Female,24,...,213,UPI,Cancelled,98,2023-01-02 05:00:00,0,New,7540,1,2023Q1
6,7,2023-01-01 06:00:00,9433,Erika Thompson,djohnson@gmail.com,9845992272,2022-01-07 00:00:00,Delhi,Male,55,...,465,Wallet,Completed,297,2023-01-02 06:00:00,0,New,6081,1,2023Q1
7,8,2023-01-01 07:00:00,2606,David Meyer,bswanson@hotmail.com,9845992272,2022-01-08 00:00:00,Gujarat,Female,54,...,243,UPI,Cancelled,355,2023-01-02 07:00:00,0,Returning,7940,1,2023Q1
8,9,2023-01-01 08:00:00,5584,Kelly Johnson,tdouglas@patel.net,9845992272,2022-01-09 00:00:00,Gujarat,Female,50,...,173,Credit Card,Completed,375,2023-01-02 08:00:00,0,Premium,5029,1,2023Q1
9,10,2023-01-01 09:00:00,9386,Jose Hunter,xhunter@christensen-craig.com,9845992272,2022-01-10 00:00:00,Maharashtra,Other,28,...,231,UPI,Cancelled,388,2023-01-02 09:00:00,0,Returning,8037,1,2023Q1
10,11,2023-01-01 10:00:00,7858,Jonathan Mayer,andersonrobert@yahoo.com,9845992272,2022-01-11 00:00:00,Delhi,Other,28,...,117,Wallet,Cancelled,407,2023-01-02 10:00:00,0,Returning,6515,1,2023Q1
11,12,2023-01-01 11:00:00,8905,John Price,walter56@yahoo.com,9845992272,2022-01-12 00:00:00,Gujarat,Other,35,...,290,Credit Card,Refunded,467,2023-01-02 11:00:00,37556,Premium,7582,1,2023Q1
12,13,2023-01-01 12:00:00,9743,Michael Haynes DDS,michellelewis@walsh.biz,9845992272,2022-01-13 00:00:00,Gujarat,Female,27,...,412,Wallet,Cancelled,472,2023-01-02 12:00:00,0,Premium,7677,1,2023Q1
13,14,2023-01-01 13:00:00,8414,Vincent Sandoval,krystal94@gmail.com,9845992272,2022-01-14 00:00:00,Karnataka,Female,21,...,202,Credit Card,Cancelled,266,2023-01-02 13:00:00,0,Premium,9837,1,2023Q1
14,15,2023-01-01 14:00:00,8191,Richard Robinson,englishmercedes@gmail.com,9845992272,2022-01-15 00:00:00,Karnataka,Other,22,...,236,Credit Card,Completed,225,2023-01-02 14:00:00,0,Returning,5606,1,2023Q1
15,16,2023-01-01 15:00:00,3931,William Andrews,brandiwilliams@henry.com,9845992272,2022-01-16 00:00:00,Delhi,Male,29,...,150,Wallet,Refunded,293,2023-01-02 15:00:00,34222,New,9908,1,2023Q1
16,17,2023-01-01 16:00:00,5066,Matthew Davis,tashabryant@coleman.info,9845992272,2022-01-17 00:00:00,Karnataka,Female,33,...,189,UPI,Refunded,214,2023-01-02 16:00:00,15266,Returning,5168,1,2023Q1
17,18,2023-01-01 17:00:00,2206,Tiffany Tran,hwatts@yahoo.com,9845992272,2022-01-18 00:00:00,Karnataka,Male,57,...,49,Credit Card,Cancelled,61,2023-01-02 17:00:00,0,New,6926,1,2023Q1
18,19,2023-01-01 18:00:00,6091,Julie Richards,todddiaz@kidd-mckinney.biz,9845992272,2022-01-19 00:00:00,Delhi,Female,22,...,371,Credit Card,Cancelled,248,2023-01-02 18:00:00,0,Premium,7394,1,2023Q1
19,20,2023-01-01 19:00:00,1017,Stephanie Zuniga,whiterachel@hotmail.com,9845992272,2022-01-20 00:00:00,Maharashtra,Male,53,...,434,Credit Card,Refunded,125,2023-01-02 19:00:00,5119,Premium,5052,1,2023Q1

In [63]:
df.tail(25)

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
6975,6976,2023-10-18 15:00:00,4578,Bridget Christensen,wilsonjeremiah@gmail.com,9845992272,2041-02-05 00:00:00,Maharashtra,Female,51,...,336,Credit Card,Completed,410,2023-10-19 15:00:00,0,New,9456,10,2023Q4
6976,6977,2023-10-18 16:00:00,2646,Amber Gibbs,vmaldonado@yahoo.com,9845992272,2041-02-06 00:00:00,Gujarat,Male,18,...,276,UPI,Cancelled,92,2023-10-19 16:00:00,0,New,5712,10,2023Q4
6977,6978,2023-10-18 17:00:00,6578,Robert Walker,michaelking@johnson.info,9845992272,2041-02-07 00:00:00,Karnataka,Female,59,...,52,UPI,Completed,313,2023-10-19 17:00:00,0,New,5494,10,2023Q4
6978,6979,2023-10-18 18:00:00,2305,Kenneth Mccoy,michaelkrause@cummings-blake.com,9845992272,2041-02-08 00:00:00,Delhi,Male,48,...,185,UPI,Cancelled,402,2023-10-19 18:00:00,0,Premium,5471,10,2023Q4
6979,6980,2023-10-18 19:00:00,2685,Rodney Mckenzie II,daltonraymond@roberts.com,9845992272,2041-02-09 00:00:00,Karnataka,Male,35,...,333,Wallet,Cancelled,268,2023-10-19 19:00:00,0,Premium,8168,10,2023Q4
6980,6981,2023-10-18 20:00:00,7046,John Holmes,jenniferwilliams@gmail.com,9845992272,2041-02-10 00:00:00,Karnataka,Other,50,...,57,Wallet,Cancelled,320,2023-10-19 20:00:00,0,New,6940,10,2023Q4
6981,6982,2023-10-18 21:00:00,6722,Jennifer Jones,charlessloan@wong.biz,9845992272,2041-02-11 00:00:00,Delhi,Male,49,...,75,Credit Card,Cancelled,58,2023-10-19 21:00:00,0,Returning,6866,10,2023Q4
6982,6983,2023-10-18 22:00:00,6320,Felicia Merritt,sramirez@yahoo.com,9845992272,2041-02-12 00:00:00,Karnataka,Other,37,...,172,UPI,Refunded,434,2023-10-19 22:00:00,39042,Premium,7843,10,2023Q4
6983,6984,2023-10-18 23:00:00,9968,Matthew Nelson,upierce@velasquez.com,9845992272,2041-02-13 00:00:00,Gujarat,Male,26,...,194,Credit Card,Completed,360,2023-10-19 23:00:00,0,Premium,7302,10,2023Q4
6984,6985,2023-10-19 00:00:00,7589,Marcus Adams,manningmichael@blackburn-williams.com,9845992272,2041-02-14 00:00:00,Maharashtra,Female,58,...,248,UPI,Refunded,368,2023-10-20 00:00:00,6546,New,9074,10,2023Q4
6985,6986,2023-10-19 01:00:00,2007,Jonathan Hayes,timothytaylor@saunders.info,9845992272,2041-02-15 00:00:00,Karnataka,Male,46,...,492,Credit Card,Cancelled,74,2023-10-20 01:00:00,0,New,6582,10,2023Q4
6986,6987,2023-10-19 02:00:00,6551,Carlos Moore,samantha13@ellis-hopkins.com,9845992272,2041-02-16 00:00:00,Maharashtra,Other,34,...,409,UPI,Refunded,333,2023-10-20 02:00:00,7134,Returning,8490,10,2023Q4
6987,6988,2023-10-19 03:00:00,9085,Mark Horton,samantharodriguez@yahoo.com,9845992272,2041-02-17 00:00:00,Tamil Nadu,Male,59,...,19,UPI,Refunded,288,2023-10-20 03:00:00,11895,New,8081,10,2023Q4
6988,6989,2023-10-19 04:00:00,9211,Kathleen Daniels,anguyen@flores-hughes.com,9845992272,2041-02-18 00:00:00,Delhi,Other,48,...,475,Wallet,Cancelled,347,2023-10-20 04:00:00,0,New,7682,10,2023Q4
6989,6990,2023-10-19 05:00:00,8956,Michelle Gibson,kruiz@huff-evans.info,9845992272,2041-02-19 00:00:00,Maharashtra,Other,62,...,223,UPI,Refunded,330,2023-10-20 05:00:00,50976,Premium,6591,10,2023Q4
6990,6991,2023-10-19 06:00:00,3459,Adam Zamora,amandacameron@yahoo.com,9845992272,2041-02-20 00:00:00,Maharashtra,Female,30,...,47,Credit Card,Refunded,182,2023-10-20 06:00:00,89014,Premium,5036,10,2023Q4
6991,6992,2023-10-19 07:00:00,8285,Amber Parsons,williamblair@hotmail.com,9845992272,2041-02-21 00:00:00,Maharashtra,Male,28,...,273,Credit Card,Completed,455,2023-10-20 07:00:00,0,Returning,9651,10,2023Q4
6992,6993,2023-10-19 08:00:00,5960,Joseph Greene,vshaw@jones.com,9845992272,2041-02-22 00:00:00,Tamil Nadu,Female,20,...,22,UPI,Completed,441,2023-10-20 08:00:00,0,New,6820,10,2023Q4
6993,6994,2023-10-19 09:00:00,9930,Daniel Lewis,barrettjustin@wilson-jackson.biz,9845992272,2041-02-23 00:00:00,Delhi,Male,20,...,126,UPI,Refunded,351,2023-10-20 09:00:00,1856,Premium,9739,10,2023Q4
6994,6995,2023-10-19 10:00:00,7495,Hayley Luna,catherinelopez@hotmail.com,9845992272,2041-02-24 00:00:00,Karnataka,Other,50,...,356,Wallet,Cancelled,245,2023-10-20 10:00:00,0,Premium,8899,10,2023Q4
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

In [70]:
df.to_csv('ecommerce.csv',index=False)
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4

In [71]:
df

,Order_Id,Order_Date,Customer_Id,Customer_Name,Email,Phone,Join_Date,State,Gender,Age,...,Stock_Quantity,Payment_Type,Order_Status,Shipping_Cost,Delivery_Date,Refund_Amount,Customer_Segment,Market_Basket_Id,Month,Quarter
0,1,2023-01-01 00:00:00,4554,Matthew Petty,bbishop@moore-richards.com,9845992272,2022-01-01 00:00:00,Karnataka,Male,33,...,421,Wallet,Completed,217,2023-01-02 00:00:00,0,Returning,7748,1,2023Q1
1,2,2023-01-01 01:00:00,3125,Nancy Hardy,jacksonamanda@gmail.com,9845992272,2022-01-02 00:00:00,Gujarat,Male,23,...,226,UPI,Cancelled,254,2023-01-02 01:00:00,0,Premium,6424,1,2023Q1
2,3,2023-01-01 02:00:00,9647,Jonathan Green,joshuaedwards@mahoney.com,9845992272,2022-01-03 00:00:00,Delhi,Female,26,...,135,Wallet,Completed,395,2023-01-02 02:00:00,0,New,6869,1,2023Q1
3,4,2023-01-01 03:00:00,6641,Alexander Brown,john29@gmail.com,9845992272,2022-01-04 00:00:00,Karnataka,Female,29,...,104,UPI,Cancelled,114,2023-01-02 03:00:00,0,Premium,6885,1,2023Q1
4,5,2023-01-01 04:00:00,1283,Clinton Mcgrath,moorebrenda@williams.com,9845992272,2022-01-05 00:00:00,Karnataka,Male,48,...,280,UPI,Refunded,170,2023-01-02 04:00:00,10665,Premium,9770,1,2023Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,2023-10-19 11:00:00,1619,Michael Turner,james37@walker.com,9845992272,2041-02-25 00:00:00,Tamil Nadu,Other,21,...,423,UPI,Completed,127,2023-10-20 11:00:00,0,Returning,6660,10,2023Q4
6996,6997,2023-10-19 12:00:00,7013,Corey Hahn,vmiranda@hotmail.com,9845992272,2041-02-26 00:00:00,Maharashtra,Other,63,...,370,Wallet,Completed,153,2023-10-20 12:00:00,0,Returning,7110,10,2023Q4
6997,6998,2023-10-19 13:00:00,8302,Stephanie Vang,daviselizabeth@hotmail.com,9845992272,2041-02-27 00:00:00,Gujarat,Other,26,...,384,UPI,Completed,83,2023-10-20 13:00:00,0,Returning,6615,10,2023Q4
6998,6999,2023-10-19 14:00:00,7428,Adam Cole,alexander60@yahoo.com,9845992272,2041-02-28 00:00:00,Karnataka,Female,59,...,289,UPI,Completed,357,2023-10-20 14:00:00,0,New,5477,10,2023Q4
6999,7000,2023-10-19 15:00:00,7565,John Garrison,bethcoleman@gmail.com,9845992272,2041-03-01 00:00:00,Delhi,Other,43,...,50,Credit Card,Cancelled,176,2023-10-20 15:00:00,0,Premium,8582,10,2023Q4